/* NAVBAR BACKGROUND */

.navbar-cookify {
  background-color: #F4F9F9 !important;
  /* padding: 12px 0; */
  border-bottom: 1px solid #e3e3e3;
  
}


.cookify-logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  margin-left: 25px;
}
.cookify-text {
  font-family: "Georgia", serif;
  color: #8B4513;
  font-weight: 700;
  margin-left: 5px;
}


.navbar-link {
  padding-top: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #000 !important;
  margin: 0 10px;
  transition: 0.3s;
}
.navbar-link:hover {
  text-decoration: underline;
  color: #8B4513 !important
}

.sign-btn {
  
  background:  #8B4513 !important;
  color: white !important;
  border-radius: 10px;
  font-weight: 600;
  padding: 6px 16px;
}


.cart-btn {
  background: #ffffff;
  border-radius: 10px;
  padding: 6px 12px;
  border: 1px solid #ddd;
  font-size: 22px;
   color: #8B4513;
}


.navbar-toggler {
  border: 1px solid #333 !important;
  padding: 4px 8px;
  border-radius: 6px;
}

.navbar-toggler-icon {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0,0,0,1)' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

/*  SCREEN VIDEO SECTION  */

.cookify-video-container {
  position: relative;
  width: 100%;
  height: 80vh;     
  overflow: hidden;
}


.cookify-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;      
  height: 100vh;    
  object-fit: cover; 
  transform: translate(-50%, -50%);
  filter: brightness(65%) blur(1px); 
}


.cookify-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.25);
}


.cookify-content {
  position: relative;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  padding: 0 20px;
}


.cookify-title {
  font-size: 3.3rem;
  font-weight: 700;
  font-family: "Georgia", serif;
  letter-spacing: 1px;
}


.cookify-tagline {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 400;
  opacity: 0.9;
}


.cookify-btn {
  background: #9d5820d3;
  color: rgb(255, 255, 255);
  padding: 12px 32px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
}

.cookify-btn-outline {
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 12px 32px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 600;
}

.cookify-btn:hover {
  background: #ffffff;

}

.cookify-btn-outline:hover {
  background: white;
  color: black;
}


@media (max-width: 768px) {
  .cookify-title {
    font-size: 2.2rem;
  }
  .cookify-tagline {
    font-size: 1.2rem;
  }
}
